# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore all CSV files except those in data/
*.csv
!data/*.csv

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore OS files
.DS_Store
Thumbs.db

# Streamlit secrets (if any)
.streamlit/secrets.toml
